<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/driving_school?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Praveen123**</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="org.example.elite_driving_school_management_system.entity.User"/>
        <mapping class="org.example.elite_driving_school_management_system.entity.Student"/>
        <mapping class="org.example.elite_driving_school_management_system.entity.Course"/>
        <mapping class="org.example.elite_driving_school_management_system.entity.Instructor"/>
        <mapping class="org.example.elite_driving_school_management_system.entity.Lesson"/>
        <mapping class="org.example.elite_driving_school_management_system.entity.Payment"/>
    </session-factory>
</hibernate-configuration>
